<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cipolat.twitter_testapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <application
        android:icon="@drawable/twitter_ok"
        android:label="Twitter_testAPP"
       >
        <activity
            android:name=".MainActivity"
            android:label="Twitter_testAPP" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
         <activity   android:name=".TwitterWebActivity"/>
         
    </application>
 <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>